# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/ifesthim/cloverleaf"
PassengerBaseURI "/."
PassengerPython "/home/ifesthim/virtualenv/cloverleaf/3.7/bin/python3.7"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
