[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
autopep8 = "*"

[packages]
django = "*"
django-rest-framework = "*"
python-dotenv = "*"
django-user-agents = "*"
xkcdpass = "*"

[requires]
python_version = "3.7"
