<!DOCTYPE html>
<html>
    <head>        
    </head>
    <body>
        <p>Halo, <span style="font-weight: bold">{{ user.full_name }}</span></p>
        
        <p>Terimakasih sudah mendaftar.</p>

        Sebelum anda memulai mendaftar untuk mengikuti kompetisi atau workshop silahkan
        mengaktivasi email anda dengan membuka tautan di bawah ini:
    
        
        
        Jika tautan diatas tidak bekerja, silahkan salin dan kutip tautan dibawah ini:
        <p>http://127.0.0.1:8080/confirm/?token={{ token }}</p>

        Email ini adalah email otomatis yang dikeluarkan oleh sistem. Membalas email ini akan menempatkan email anda kedalam kotak surat tidak termonitor.
        Untuk mengajukan pertanyaan atau keluhan dapat menghubungi halaman kontak kami.

    </body>
</html>